.movebox{
  position: relative;
  background-color: #e8e8e8;
  width: 300px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  .txt{
    position: absolute;
    top:0;
    width:300px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select:none;
    -o-user-select:none;
    -ms-user-select:none;
  }
  .movego{
    background-color: #2183F6;
    height:34px;
    width:0;
  }
  .move{
    position:absolute;
    top:0;
    left:0;
    width:40px;
    height:32px;
    border:1px solid #ccc;
    cursor:move;
    color:#2183F6;
    font-size:16px;
  }
  .moveBefore{
    background: #fff url(data:image/png) no-repeat center;
  }
}
